.homepage,
.homepage * {
  box-sizing: border-box;
}
.homepage {
  background: #f5e7d3;
  height: 3500px;
  position: relative;
  overflow: hidden;
}
.frames-cabin-portfolio {
  text-align: left;
  position: absolute;
  left: 120px;
  top: 118px;
  width: 547px;
  height: 41px;
}
.frames-cabin-portfolio-span {
  color: #00967d;
  font-family: "Mulish-BlackItalic", sans-serif;
  font-size: 40px;
  font-weight: 900;
  font-style: italic;
}
.frames-cabin-portfolio-span2 {
  color: #000000;
  font-family: "Mulish-BlackItalic", sans-serif;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
}
.frames-cabin-portfolio-span3 {
  color: #000000;
  font-family: "SpaceMono-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.frames-cabin-portfolio-span4 {
  color: #000000;
  font-family: "SpaceMono-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.frames-cabin-portfolio-span5 {
  color: #000000;
  font-family: "SpaceMono-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.footer {
  color: #000000;
  text-align: left;
  font-family: "SpaceMono-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 54px;
  width: 291px;
  height: 45px;
}
.intro {
  background: #ffffff;
  border-radius: 200px;
  width: 1200px;
  height: 312px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: calc(50% - 1471px);
  overflow: hidden;
}
.frame-12 {
  background: #da6916;
  border-radius: 200px;
  width: 292px;
  height: 292px;
  position: absolute;
  left: 10px;
  top: 10px;
  overflow: hidden;
}
.hello-there-welcome-to-my-portfolio-here-you-will-find-some-of-the-things-i-have-created-for-either-class-work-or-just-for-fun {
  color: #da6916;
  text-align: left;
  font-family: "SpaceMono-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 232px);
  top: calc(50% - 117px);
  width: 738px;
  height: 223px;
}
.frame-11 {
  border-radius: 200px;
  width: 272px;
  height: 272px;
  position: absolute;
  left: 20px;
  top: 20px;
  overflow: hidden;
  object-fit: cover;
}
.frame-13 {
  border-radius: 200px;
  width: 272px;
  height: 272px;
  position: absolute;
  left: 20px;
  top: 20px;
  overflow: hidden;
}
.button-programming {
  background: #f5b92b;
  border-radius: 200px;
  width: 314px;
  height: 314px;
  position: absolute;
  left: calc(50% - -286px);
  top: calc(50% - 1039px);
  overflow: hidden;
}
.programming {
  color: #ffffff;
  text-align: center;
  font-family: "Mulish-BlackItalic", sans-serif;
  font-size: 40px;
  font-weight: 900;
  font-style: italic;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  width: 292px;
  height: 45px;
}
.button-graphics {
  background: #da6916;
  border-radius: 200px;
  width: 314px;
  height: 314px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: calc(50% - 1039px);
  overflow: hidden;
}
.computer-graphics {
  color: #ffffff;
  text-align: center;
  font-family: "Mulish-ExtraBoldItalic", sans-serif;
  font-size: 40px;
  font-weight: 800;
  font-style: italic;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  width: 292px;
  height: 100px;
}
.button-illustrations {
  background: #00967d;
  border-radius: 200px;
  width: 314px;
  height: 314px;
  position: absolute;
  left: calc(50% - 600px);
  top: calc(50% - 1039px);
  overflow: hidden;
}
.illustrations {
  color: #ffffff;
  text-align: center;
  font-family: "Mulish-ExtraBoldItalic", sans-serif;
  font-size: 40px;
  font-weight: 800;
  font-style: italic;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  width: 292px;
  height: 45px;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 383px;
  height: 47px;
  position: absolute;
  right: 120px;
  top: 118px;
}
.portfolio {
  color: #000000;
  text-align: left;
  font-family: "SpaceMono-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.about-me {
  color: #000000;
  text-align: left;
  font-family: "SpaceMono-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.programming2 {
  background: #f5b92b;
  border-radius: 250px;
  width: 1600px;
  height: 500px;
  position: absolute;
  left: -280px;
  top: 2430px;
  overflow: hidden;
}
.graphics {
  background: #da6916;
  border-radius: 250px;
  width: 1600px;
  height: 500px;
  position: absolute;
  left: 120px;
  top: 1810px;
  overflow: hidden;
}
.illustrations2 {
  background: #00967d;
  border-radius: 250px;
  width: 1600px;
  height: 500px;
  position: absolute;
  left: -280px;
  top: 1189px;
  overflow: hidden;
}
.portfolio-01-2 {
  border-radius: 200px;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 1159px;
  top: 50px;
  object-fit: cover;
  aspect-ratio: 1;
}
.portfolio-02-1 {
  border-radius: 200px;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 723px;
  top: 50px;
  object-fit: cover;
  aspect-ratio: 1;
}
.s-estetica-1 {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 287px;
  top: 50px;
  object-fit: cover;
  aspect-ratio: 1;
}
